__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.env

# GitHub Actions temporary credential files
gha-creds-*.json


# Terraform local state and variable files
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
